<div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col-12 p-0">    
        <div class="login-card">
          <div>
            <div><a class="logo" href="#"><img class="img-fluid for-light" src="../assets/images/logo/logo2.png" alt="looginpage"></a></div>
            <div class="login-main mb-4"> 
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="theme-form" [ngClass]="{'was-validated': submitted || loginFailed }" >
                <h4 class="text-center">Connectez-vous</h4>
                
                <div class="form-group">
                  <label class="col-form-label mt-4">Nom d'utilisateur</label>
                  <input class="form-control" type="text" formControlName="username" [ngClass]="{'is-invalid': loginFailed && loginForm.get('username')?.invalid }" placeholder="Pseudo" required>
<!-- 
                  <input type="text" [ngClass]="{ 'is-invalid': submitted && f['nomPlat'].errors }" class="form-control" id="nomPlat" formControlName="nomPlat" placeholder="Entrer le repas">
                  <div class="invalid-feedback" *ngIf="submitted && f['nomPlat'].errors">Veuillez saisir le repas</div> -->
                </div>
                
                <div class="form-group">
                  <label class="col-form-label">Mot de passe</label>
                    <input class="form-control" type="password" formControlName="password" [ngClass]="{'is-invalid': loginFailed && loginForm.get('password')?.invalid}" placeholder="*********" required>
                    <div *ngIf="loginFailed" class="invalid-feedback mt-2">{{ errorMessage }}</div>
                  </div>
                
                <div class="form-group mb-0">
                  <div class="text-end mt-3">
                    <button class="btn btn-primary btn-block w-100" type="submit">Se connecter</button>
                  </div>
                </div>
                <p class="mt-4 mb-0 text-center">Vous n'avez pas de compte ?<a class="ms-2" [routerLink]="['/register']">Inscrivez-vous</a></p>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>