<div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col-12 p-0">    
        <div class="login-card">
          <div>
            <div><a class="logo" href="#"><img class="img-fluid for-light" src="../assets/images/logo/logo2.png" alt="looginpage"></a></div>
            <div class="login-main mb-4"> 
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="theme-form needs-validation" novalidate="">
                <h4 class="text-center">Inscrivez-vous</h4>
                <div class="form-group ">
                  <label class="col-form-label mt-4">Nom d'utilisateur</label>
                  <input class="form-control" type="text" formControlName="username" id="username" [ngClass]="{'is-invalid': username?.touched && username?.invalid }" placeholder="Pseudo">
                  <div class="invalid-feedback txt-danger"  *ngIf="username?.touched && username?.invalid && username?.errors!['required']">Le nom d'utilisateur est requis.</div>
                </div>
                
                <div class="form-group ">   
                    <label class="col-form-label">Profil</label>
                    <select class="form-select btn-square digits" id="exampleFormControlSelect12" formControlName="profil">
                      <option selected disabled value>Choisir...</option>
                      <option value="Administrateur">Administrateur</option>
                      <option value="Etudiant(e)">Étudiant(e)</option>
                      <option value="Professeur">Professeur</option>
                    </select>
                    <div class="invalid-feedback txt-danger" *ngIf="profil?.touched && profil?.invalid">
                    Le profil est requis.
                  </div>
                </div> 
                <div class="form-group ">   
                    <label class="col-form-label">Image</label>
                    <div class="form-input position-relative">
                        <input class="form-control" type="file" formControlName="image" 
                        id="image" 
                        [ngClass]="{'is-invalid': image?.touched && image?.invalid }"
                        (change)="fileChangeEvent($event)">
                        <div class="invalid-feedback txt-danger" *ngIf="image?.touched && image?.invalid">
                          <div *ngIf="image?.errors!['required']">L'image est requise.</div>
                          <div *ngIf="image?.errors!['invalidFileType']">Le type de fichier sélectionné est invalide. Les types de fichiers autorisés sont JPEG et PNG.</div>
                        </div>
                    </div>
                </div> 
                <div class="form-group">
                  <label class="col-form-label">Mot de passe</label>
                  <div class="form-input position-relative">
                    <input class="form-control" type="password" formControlName="password" id="password" [ngClass]="{'is-invalid': password?.touched && password?.invalid }" placeholder="*********">
                    <div class="invalid-feedback txt-danger"  *ngIf="password?.touched && password?.invalid && password?.errors!['required']">Le mot de passe est requis.</div>
                    <div class="invalid-feedback txt-danger" *ngIf="password?.touched && password?.invalid && password?.errors!['minlength']">Le mot de passe doit contenir au moins 8 caractères.</div>
                  </div>
                </div>
                <div class="form-group">
                  <div *ngIf="registerFailed" class="txt-danger mt-2">{{ errorMessage }}</div>
                </div>
                <div class="form-group mb-0">
                  <div class="text-end mt-4">
                    <button class="btn btn-primary btn-block w-100" type="submit" [disabled]="registerForm.invalid">S'inscrire</button>
                    </div>
                </div>
                <p class="mt-4 mb-0 text-center">Vous avez déjà un compte ?<a class="ms-2" [routerLink]="['/login']">Connectez-vous</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>