
<div class="page-header">
    
    <div class="header-wrapper row m-0">
        <div class="header-logo-wrapper col-auto p-0">
            <div class="logo-header-main">
                <a href="./home">
                    <img class="img-fluid for-light img-100" [src]="getImageUrl('assets/images/logo/logo2.png')" alt="">
                    <img class="img-fluid for-dark" [src]="getImageUrl('assets/images/logo/logo.png')" alt="">
                </a>
            </div>
        </div>
        <div class="left-header col horizontal-wrapper ps-0">
            <div class="left-menu-header">
            </div>
        </div>
        <div class="nav-right col-6 pull-right right-header p-0">
            <ul class="nav-menus">
            <li class="profile-nav onhover-dropdown">
                <div class="avatar"><img *ngIf="image" class="img-50 rounded-circle" src="{{image}}" alt="#"><span> {{nom}} ({{profil}})</span></div>
                <ul class="profile-dropdown onhover-show-div" style="right: 74px; top: 55px;">
                    <li><a (click)="onLogout()"><span>Déconnexion</span></a></li>
                </ul>
            </li>
            </ul>
        </div>
        
    </div>
</div>