<ng-container *ngIf="isLoading; else content">
  <app-loading></app-loading>
</ng-container>
<ng-template #content>
  <app-navbar></app-navbar>

  <div class="page-body-wrapper">
      <div class="page-body" style="margin-top: 50px; padding-top: 80px;">
        <div class="col-md-12 project-list">
          <div class="row">
            <div class="col-md-3 p-0 d-flex">
                <div class="input-group">
                  <input [(ngModel)]="searchTerm" class="form-control" placeholder="Nom du devoir...">
                  <button class="btn btn-primary" (click)="onSearch()" type="submit">Rechercher</button>
                </div>
            </div>
            <div class="col-md-6 p-0" >
              <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Selection de la page des assigments"
                  (page)="handlePage($event)"
                  [length]="totalPages"
                  [pageSize]="limit"
                  [pageIndex]="page"
                  style="background-color: #f6f8fc; font-family: 'Montserrat', sans-serif;" 
                >
              </mat-paginator>
            </div>
            <div class="col-md-3 p-0 ">                    
              <!-- <div class="form-group mb-0 me-0"></div> -->
              <a (click)="onAjoutDevoir()" class="ajouterBtn">
                <button class="btn btn-warning" type="button">Ajouter devoir</button>
              </a>
            </div>
          </div>
        </div>
        <!-- Container-fluid starts-->  
        <div class="container-fluid">
          <div class="row ui-sortable" >
            <div class="col-md-4">
              <h4 class="font-primary">À rendre</h4>
              <div 
                  class="scrollable-section" id="nonRendus" 
                  cdkDropList 
                  #divNonRendus="cdkDropList" 
                  [cdkDropListData]="nonRendus"
                  [cdkDropListConnectedTo]="[divRendus]" 
                  (cdkDropListDropped)="onDrop($event)">
                  
                  <div *ngFor="let devoir of nonRendus">
                    <div class="card" (click)="onDetailDevoir(devoir)" cdkDrag>
                      <div class="card-header pb-0">
                        <div class="d-sm-flex d-block justify-content-between">
                          <h4>{{devoir.nom}}</h4>
                          <!-- <p class="square-after f-w-600 header-text-primary">{{moviesList}}<i class="fa fa-circle"> </i></p> -->
                          <div class="badge-group">
                            <div class="btn btn-xs f-right" [ngClass]="{
                              'btn-primary': devoir.matiere?.idMatiere === 3,
                              'btn-danger': devoir.matiere?.idMatiere === 2,
                              'btn-success': devoir.matiere?.idMatiere === 1
                            }">
                              <!-- <div class='btn btn-primary btn-xs f-right'> -->
                              <span id="txt">{{ devoir.matiere?.nom }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <img class="img-fluid"  src="{{devoir.matiere?.image}}" alt="{{devoir.matiere?.image}}" data-original-title="" title="">
                        <div class="d-flex align-items-start">
                          <img class="img-40 me-1 mt-2 rounded-circle" src="{{devoir.prof?.image}}" alt="{{devoir.prof?.image}}" data-original-title="" title="">
                          <div class="flex-grow-1 mt-3">
                            <p class="mb-0">{{devoir.prof?.nom}}</p>
                          </div>
                        </div>
                        <p class="mt-2">Date limite de soumission du devoir par {{devoir.eleve?.nom}} : {{devoir.dateDeRendu | date: 'dd-MM-yyyy'}}.</p>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-md-3"></div>
            </div>
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-4 ml-4">
              <h4 class="font-success">Rendu</h4>
              <div class="scrollable-section"
                id="rendus"
                cdkDropList 
                #divRendus="cdkDropList" 
                [cdkDropListData]="rendus"
                [cdkDropListConnectedTo]="[divNonRendus]" 
                (cdkDropListDropped)="onDrop($event)">
                <div *ngFor="let devoir of rendus" >
                  <div class="card" (click)="onDetailDevoir(devoir)" cdkDrag>
                    <div class="card-header pb-0">
                      <div class="d-sm-flex d-block justify-content-between">
                        <h4>{{devoir.nom}}</h4>
                        <div class="badge-group">
                          <div class="btn btn-xs f-right" [ngClass]="{
                            'btn-primary': devoir.matiere?.idMatiere === 3,
                            'btn-danger': devoir.matiere?.idMatiere === 2,
                            'btn-success': devoir.matiere?.idMatiere === 1
                          }">
                            <!-- <div class="btn btn-primary btn-xs f-right"> -->
                            <span id="txt">{{ devoir.matiere?.nom }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <img class="img-fluid" style="border-radius: 15px;"  src="{{devoir.matiere?.image}}" alt="{{devoir.matiere?.image}}" data-original-title="" title="">
                      <div class="d-flex align-items-start mt-2">
                        <img class="img-40 me-1 mt-2 rounded-circle" src="{{devoir.prof?.image}}" alt="{{devoir.prof?.image}}" data-original-title="" title="">
                        <div class="flex-grow-1 mt-3">
                          <p class="mb-0"> Themeforest, australia</p>
                        </div>
                      </div>
                      <p class="mt-2">Devoir soumis le {{devoir.dateDeRendu | date: 'dd-MM-yyyy'}} par {{devoir.eleve?.nom}}.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
      </div> 
  </div>
</ng-template>