<main class="container">
  <div class="row text-center m-4"><h4>Ajout d'un nouveau devoir</h4></div>
  <mat-stepper  class="custom-stepper" [linear]="true">
    <mat-step [stepControl]="matiere">
      <form [formGroup]="matiere">
      <div class="mb-3">
        <p>Parmi ces informations cruciales, il est primordial de sélectionner avec soin le nom de la matière à laquelle ce devoir est rattaché. Veuillez choisir attentivement parmi les options proposées la matière correspondante au devoir en question.</p>
      </div>
      <div class="col-xs-12">
        <div class="col-md-12">
          <div class="mb-3">
            <label class="control-label">Matière<span style="color: red">*</span></label>
            <select name="" id="" formControlName="thirdCtrl" class="form-select btn-square digits" id="exampleFormControlSelect12">
              <option selected disabled value>Sélectionnez...</option>
              <option *ngFor="let matiere of matieres" [value]="matiere.id">{{matiere.nom}}</option>
            </select>
          </div>
          <button mat-button matStepperNext class="btn btn-primary pull-right" style="color: white;" >Suivant</button>
        </div>
      </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="nom">
      <form [formGroup]="this.nom" class="needs-validation" novalidate="">
        <div class="mb-3">
          <p>Afin de pouvoir ajouter un nouveau devoir à rendre, veuillez prendre quelques instants pour renseigner le nom précis du devoir que vous souhaitez soumettre. Nous vous invitons à insérer le nom du devoir avec soin, en veillant à ce qu'il soit représentatif de son contenu.</p>
        </div>
        <div class="col-xs-12">
          <div class="col-md-12">
            <div class="mb-3">
              <label class="control-label">Nom du devoir<span style="color: red"> *</span></label>
              <input class="form-control" [ngClass]="{'is-invalid': this.nom.touched && this.nom.invalid }" type="text" formControlName="firstCtrl" required>
            </div>
            <div class="mb-2 txt-danger" *ngIf="this.nom.invalid && this.nom.touched ">
              Veuillez saisir un nom de devoir correct (minimum 5 caractères)
            </div>
            <button mat-button matStepperNext class="btn btn-primary pull-right" style="color: white;" >Suivant</button>
            <button mat-button matStepperPrevious class="pull-right">Retour</button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="dateRendu">
      <form [formGroup]="dateRendu">
        <div class="mb-3">
          <p>Veuillez indiquer la date de rendu prévue pour ce devoir. Cette date est d'une importance capitale pour respecter les échéances et planifier votre travail de manière efficace.</p>
        </div>
        <div class="col-xs-12">
          <div class="col-md-12">
            <div class="mb-3">
              <label class="control-label">Date de rendu<span style="color: red"> *</span></label>
              <input class="form-control" type="date" formControlName="secondCtrl" [min]="today | date:'yyyy-MM-dd'" [value]="today | date:'yyyy-MM-dd'" required>
            </div>
            <button mat-button matStepperNext class="btn btn-primary pull-right" style="color: white;" >Suivant</button>
            <button mat-button matStepperPrevious class="pull-right">Retour</button>
          </div>
        </div>
      </form>  
    </mat-step>
    <mat-step [stepControl]="eleve">
      <form [formGroup]="eleve">
      <div class="mb-3">
        <p>Veuillez sélectionner attentivement le nom de l'étudiant concerné parmi la liste fournie. Il est essentiel de choisir avec précision le bon étudiant afin d'assurer une attribution correcte du devoir et d'éviter toute confusion.</p>
      </div>
      <div class="col-xs-12">
        <div class="col-md-12">
          <div class="mb-3">
            <label class="control-label">Étudiant<span style="color: red">*</span></label>
            <select name="" id="" formControlName="fourthCtrl" class="form-select btn-square digits" id="exampleFormControlSelect12">
              <option selected disabled value>Sélectionnez...</option>
              <option *ngFor="let eleve of eleves" [value]="eleve.id">
                {{ eleve.nom }}
                <!-- <img src="{{ eleve.image }}" alt="image" /> -->
              </option>
            </select>
          </div>
          <button mat-button matStepperNext class="btn btn-primary pull-right" style="color: white;" >Suivant</button>
          <button mat-button matStepperPrevious class="pull-right">Retour</button>
        </div>
      </div>
      </form>
    </mat-step>
    <mat-step>
      <div class="mb-3">
        <p>Avant de soumettre, veuillez prendre un moment pour vérifier attentivement les informations saisies. Votre diligence est appréciée !</p>
      </div>
      <div class="col-xs-12">
        <div class="col-md-12">
          <div class="mb-3">
            <div class="mb-3">
              <label class="control-label">Matière<span style="color: red"> *</span></label>
              <input class="form-control" type="text" [readonly]="true" [value]="getMatierebyId(matiere.value.thirdCtrl)?.nom">
            </div>
            <label class="control-label">Nom du devoir<span style="color: red"> *</span></label>
            <input class="form-control" type="text" [readonly]="true" [value]="this.nom.get('firstCtrl')?.value">
          </div>
          <div class="mb-3">
            <label class="control-label">Date de rendu<span style="color: red"> *</span></label>
            <input class="form-control" type="date" [readonly]="true" [value]="dateRendu.get('secondCtrl')?.value">
          </div>
          <div class="mb-3">
            <label class="control-label">Étudiant<span style="color: red"> *</span></label>
            <input class="form-control" type="text" [readonly]="true" [value]="getElevebyId(eleve.value.fourthCtrl)?.nom">
          </div>
          <button mat-button matStepperNext (click)="onAjoutAssignment()" class="btn btn-success pull-right" style="color: white;">Terminé</button>
          <button mat-button matStepperPrevious class="pull-right">Retour</button>
        </div>
      </div>
    </mat-step>
    
  </mat-stepper>
</main>

