<!-- <div class="container" *ngIf="assignment">
    <h1>Edition de l'assignment {{assignment.nom}}</h1>
    <form ngForm class="form" #formupdate (submit)="onSaveAssignment(); formupdate.reset(); ">
      <mat-form-field>
        <input matInput placeholder="Edition du nom" [(ngModel)]="nomAssignment" name="assignment-name">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dateDeRendu" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="((!nomAssignment)||(!dateDeRendu))">
        Sauver
      </button>
    </form>
   </div> -->
<app-navbar></app-navbar>
<div class="page-body-wrapper">
  <div class="page-body" style="margin-top: 100px; padding-top: 25px;">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="edit-profile">
        <form [formGroup]="editForm">
          <div class="row">
              <div class="col-xl-3 col-lg-3">
              </div>          
              <div class="col-xl-6 col-lg-6">
                <div class="card">
                  <div class="card-header pb-0">
                    <h4 class="card-title mb-0">Modification devoir</h4>
                    <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                  </div>
                  <div class="card-body">
                    
                      <div class="row">
                          <div class="mb-3">
                            <label class="form-label f-w-500">Nom du devoir<span style="color: red"> *</span></label>
                            <input class="form-control" type="text" formControlName="nomDevoir" id="nomDevoir">
                          </div>
                          <div class="row">
                            <div class="col-xl-6 col-lg-6">
                              <div class="mb-3">
                                <label class="form-label f-w-500">Date de rendu<span style="color: red"> *</span></label>
                                <input class="form-control" type="date" formControlName="dateRendu">
                              </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                              <div class="mb-3">
                                <label class="form-label f-w-500">Note<span style="color: red"> *</span></label>
                                <input class="form-control" type="text" formControlName="note" type="number">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xl-6 col-lg-6">
                              <div class="mb-3">
                                <label class="form-label f-w-500">Matière<span style="color: red"> *</span></label>
                                <select class="form-control btn-square" formControlName="matieresNom" [(ngModel)]="selectedMatiereId">
                                  <option *ngFor="let matiere of matieres" [value]="matiere.id" >{{ matiere.nom }}</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                              <div class="mb-3">
                                <label class="form-label f-w-500">Elève<span style="color: red"> *</span></label>
                                <select class="form-control btn-square" formControlName="elevesNom" [(ngModel)]="selectedEleveId">
                                  <option *ngFor="let eleve of eleves" [value]="eleve.id" >{{ eleve.nom }}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div>
                            <label class="form-label f-w-500">Remarques</label>
                            <textarea class="form-control" rows="5" formControlName="remarques"></textarea>
                          </div>
                      </div>
                    
                  </div>
                  <div class="card-footer text-end">
                    <div class="row mb-2">
                      <div class="col-md-6"></div>
                      <div class="col-md-3">
                        <button class="btn btn-primary" (click)="onUpdateAssignment()" type="submit">Modifier</button>
                      </div>
                      <div class="col-md-3">
                        <button class="btn btn-danger pull-right" (click)="onDeleteAssignment()" style="color: white;" >Supprimer</button>
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
              <div class="col-xl-3 col-lg-3">
              </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Container-fluid Ends-->
  </div>
</div>
