<!-- <div class="container" *ngIf="assignment">
    <h1>Edition de l'assignment {{assignment.nom}}</h1>
    <form ngForm class="form" #formupdate (submit)="onSaveAssignment(); formupdate.reset(); ">
      <mat-form-field>
        <input matInput placeholder="Edition du nom" [(ngModel)]="nomAssignment" name="assignment-name">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dateDeRendu" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="((!nomAssignment)||(!dateDeRendu))">
        Sauver
      </button>
    </form>
   </div> -->
<ng-container *ngIf="isLoading; else content">
  <app-loading></app-loading>
</ng-container>
<ng-template #content>
  <app-navbar></app-navbar>
  <div class="page-body-wrapper">
    <div class="page-body" style="margin-top: 100px; padding-top: 25px;">
      <!-- Container-fluid starts-->
      <div class="container-fluid">
        <div class="edit-profile">
          <form [formGroup]="editForm" class="needs-validation" novalidate="">
            <div class="row">
                <div class="col-xl-3 col-lg-3">
                </div>          
                <div class="col-xl-6 col-lg-6">
                  <div class="card">
                    <div class="card-header pb-0">
                      <h4 class="card-title mb-0">Modification devoir #{{ assignment.idAssignment }}</h4>
                      <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                    </div>
                    <div class="card-body">
                      
                        <div class="row">
                            <div class="mb-3">
                              <label class="form-label f-w-500">Nom du devoir<span style="color: red"> *</span></label>
                              <input class="form-control" type="text"  
                              [ngClass]="{'is-invalid': nomDevoir?.touched && nomDevoir?.invalid }"  
                              formControlName="nomDevoir" 
                              id="nomDevoir" required>
                              <div class="invalid-feedback txt-danger" *ngIf="nomDevoir?.invalid && nomDevoir?.touched ">
                                  Veuillez saisir un nom de devoir correct (minimum 5 caractères)
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xl-6 col-lg-6">
                                <div class="mb-3">
                                  <label class="form-label f-w-500">Date de rendu<span style="color: red"> *</span></label>
                                  <input class="form-control" type="date" [ngClass]="{'is-invalid': dateRendu?.invalid && (dateRendu?.dirty || dateRendu?.touched) }" formControlName="dateRendu" required>
                                  <div class="invalid-feedback txt-danger" *ngIf="dateRendu?.invalid && (dateRendu?.dirty || dateRendu?.touched)">
                                    Veuillez saisir une date correcte
                                  </div>
                                </div>
                              </div>
                              <div class="col-xl-6 col-lg-6">
                                <div class="mb-3">
                                  <label class="form-label f-w-500">Note<span style="color: red"> *</span></label>
                                  <input class="form-control" type="text" [ngClass]="{'is-invalid': note?.invalid && (note?.dirty || note?.touched) }" formControlName="note" type="number"  required>
                                  <div class="invalid-feedback txt-danger" *ngIf="note?.invalid && (note?.dirty || note?.touched)">
                                    Veuillez saisir un nombre correct
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xl-6 col-lg-6">
                                <div class="mb-3">
                                  <label class="form-label f-w-500">Matière<span style="color: red"> *</span></label>
                                  <select class="form-control btn-square" [ngClass]="{'is-invalid': matieresNom?.invalid && (matieresNom?.dirty || matieresNom?.touched) }" formControlName="matieresNom" [(ngModel)]="selectedMatiereId" required>
                                    <option *ngFor="let matiere of matieres" >{{ matiere.nom }}</option>
                                  </select>
                                  <div class="invalid-feedback txt-danger" *ngIf="matieresNom?.invalid && (matieresNom?.dirty || matieresNom?.touched)">
                                    Veuillez choisir une matière
                                  </div>
                                </div>
                              </div>
                              <div class="col-xl-6 col-lg-6">
                                <div class="mb-3">
                                  <label class="form-label f-w-500">Elève<span style="color: red"> *</span></label>
                                  <select class="form-control btn-square" [ngClass]="{'is-invalid': elevesNom?.invalid && (elevesNom?.dirty || elevesNom?.touched) }" formControlName="elevesNom" [(ngModel)]="selectedEleveId" required>
                                    <option *ngFor="let eleve of eleves" [value]="eleve.id" >{{ eleve.nom }}</option>
                                  </select>
                                  <div class="invalid-feedback txt-danger" *ngIf="elevesNom?.invalid && (elevesNom?.dirty || elevesNom?.touched)">
                                    Veuillez choisir un élève
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <label class="form-label f-w-500">Remarques</label>
                              <textarea class="form-control" rows="5" formControlName="remarques" [readonly]="!rendu">{{remarquesTxt}}</textarea>
                            </div>
                            <div class="row">
                              <div class="form-group">
                                <div *ngIf="editFailed" class="txt-danger mt-2">{{ errorMessage }}</div>
                              </div>
                            </div>
                        </div>
                      
                    </div>
                    <div class="card-footer text-end">
                      <div class="row mb-2">
                        <div class="col-md-6"></div>
                        <div class="col-md-3">
                          <button class="btn btn-primary" (click)="onUpdateAssignment()" type="submit">Modifier</button>
                        </div>
                        <div class="col-md-3">
                          <button class="btn btn-danger pull-right" (click)="onDeleteAssignment()" style="color: white;" >Supprimer</button>
                        </div>
                      </div>
                    </div>
                  </div>  
                </div>
                <div class="col-xl-3 col-lg-3">
                </div>
            </div>
          </form>
        </div>
      </div>
      <!-- Container-fluid Ends-->
    </div>
  </div>
</ng-template>
